# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_ORG_ID=
NEXT_PUBLIC_SANITY_API_VERSION=2025-11-27
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=

# Mux
MUX_TOKEN_ID=
MUX_TOKEN_SECRET=
MUX_SIGNING_KEY_ID=
MUX_SIGNING_KEY=

# OpenAI / AI SDK
OPENAI_API_KEY=
